<script type="text/template" id="metric-list-tpl">
    <% _.each(metrics, function (m) { %>
    <li class="toggle <%= (m.active) ? 'active' : '' %>" data-key="<%= m.key %>" <%= (m.color !== null) ? 'style="border-bottom-color: ' + m.color + ';"' : '' %>>
    <%= m.title %>
    </li>
    <% }); %>
</script>

<script type="text/template" id="info-table-header-tpl">
    <li class="info-table-header">
        <span><%= title %></span>
        <div class="info-table-header-border">
            <span class="info-table-header-border-active active-<%= active %>"></span>
        </div>
    </li>
</script>

<script type="text/template" id="info-table-row-tpl">
    <li class="info-table-row <%= isActive %> <%= isEmpty %>">
        <span class="info-table-cell info-table-label"><%= label %></span>
        <span class="info-table-cell info-table-yearly-diff <%= yearlyTrend %> font-ms"><%= yearlyDiff %></span>
        <span class="info-table-cell info-table-total font-ms"><%= total %></span>
        <span class="info-table-cell info-table-monhtly-diff <%= monhtlyTrend %> font-ms"><%= monhtlyDiff %></span>
    </li>
</script>

<script type="text/template" id="info-table-comp-row-tpl">
    <li class="info-table-row">
        <span class="info-table-cell info-table-label">
            <span class="label-bullet" style="color: <%= color %>;">◼</span> <%= label %>
        </span>
        <span class="info-table-cell info-table-yearly-diff <%= yearlyTrend %> font-ms"><%= yearlyDiff %></span>
        <span class="info-table-cell info-table-total font-ms"><%= total %></span>
        <span class="info-table-cell info-table-monhtly-diff <%= monhtlyTrend %> font-ms"><%= monhtlyDiff %></span>
    </li>
</script>