$colorRed:   #f48fb1;
$colorGreen: #a5d6a7;

body {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Bitter', serif;
}

.font-ms {
	font-family: 'Bitter', monospace;
}

.clearfix:after {
	content:"";
	display:table;
	clear:both;
}