#into-table {
}

.info-table {

	&-header {
		position: relative;
		margin: 0 0.4em;
		padding: 0.4em 0.6em 0.6em;

		&-border {
			position: absolute;
			top: 0;
			width: 100%;
			height: 80%;
			//background-color: lime;
			border-bottom: 2px solid #f0f0f0;

			&-active {
				width: 8.333%;
				//backgrounda-color: cyan;
				border-bottom: 2px solid grey;
				height: 100%;
				display: inline-block;
				position: absolute;

				@for $i from 1 through 12 {
					&.active-#{$i} {
						left: percentage(0.0833 * ($i - 1));
					}
				}
			}
		}
	}

	&-row {
		line-height: 1em;
		margin: 0 0.4em;
		padding: 0 0.6em;
		border-radius: 4px;

		&.active {
			background-color: #e8e8e8;

			.info-table-label {
				font-weight: 700;
			}
		}
		&.empty {
			color: #d0d0d0;
		}
	}

	&-cell {
		display: inline-block;
	}

	&-label {
		width: 12%;
		font-size: 0.75em;
		font-weight: 400;
	}

	&-total {
		text-align: right;
		width: 24%;
		font-size: 0.8em;
	}

	&-monhtly-diff {
		text-align: right;
		width: 27%;
		font-size: 0.8em;
	}

	&-yearly-diff {
		text-align: right;
		width: 33%;
		font-size: 0.9em;
	}

	&-monhtly-diff,
	&-yearly-diff {
		&::after {
			position: relative;
			display: inline-block;
			font-size: 0.6em;
			content: '●';
			margin-left: 2px;
		}
		&.trend-pos::after {
			top: -2px;
			content: '▲';
			color: $colorGreen;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		&.trend-neg::after {
			top: -2px;
			content: '▲';
			color: $colorRed;
		}
	}

}
