
<div class="block full-width clearfix">
    <div class="info-col">
        <ul id="info-table" class="info-table"></ul>
    </div>

    <div id="chart-wrapper"></div>
</div>

<div class="chart-options block clearfix">

    <div id="mode-selector" class="mode-selector">
        <h4>Modo</h4>
        <div class="radio-selector checked">
            <input type="radio" name="chart-mode" value="interannual" id="chart-mode-interanual" checked />
            <label for="chart-mode-interanual">Interanual</label>
        </div>
        <div class="radio-selector">
            <input type="radio" name="chart-mode" value="comparative" id="chart-mode-comparative" />
            <label for="chart-mode-comparative">Comparativo</label>
        </div>
    </div>

    <div id="metric-selector" class="metric-selector clearfix">
        <div class="metric-selector-block clearfix">
            <h4>General</h4>
            <ul class="general-selector"></ul>
        </div>
        <div class="metric-selector-block clearfix">
            <h4>Autonomias</h4>
            <ul class="regional-selector"></ul>
        </div>
    </div>

</div>