<html>
    {{> htmlHead}}

    <body>

        <section id="main">
            {{> nav}}

            {{ body }}
        </section>

        {{> clientTemplates}}
        {{> jsFiles}}
    </body>

</html>
